name: Python package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]

    steps:
      - uses: actions/checkout@v2

      - name: Login to Jira
        uses: atlassian/gajira-login@master
        env:
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Find Jira Key in commit messages
        id: key-extractor
        uses: atlassian/gajira-find-issue-key@master
        with:
          from: commits

      - name: Transition to Pending Tests
        uses: atlassian/gajira-transition@master
        with:
          issue: ${{ steps.key-extractor.outputs.issue }}
          transition: "Pending Tests"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          nltk.download("punkt")

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest
        run: |
          python -m unittest

      - name: Transition to In Review
        uses: atlassian/gajira-transition@master
        with:
          issue: ${{ steps.key-extractor.outputs.issue }}
          transition: "In Review"
